BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 120

IncludeBlocks: Preserve
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AlignConsecutiveDeclarations: true